.center {
    margin-top: 10%;
    margin-right:25%;
    margin-left:25%;
    width: 50%;
    height: 50%;
    border: 3px solid #498CF0;
    background-color:#498CF0;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 50px;
    text-align: center;
  }
  .color-box	{
      background-color:#498CF0;
  }
 